*{
    margin: 0; /*Remove todas as margens externas dos elementos.  */
    padding: 0; /* Remove todo o preenchimento interno dos elementos. */
    box-sizing: border-box /* Faz com que a largura e altura definidas para um elemento incluam o padding e a borda. */
}

.container{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 4.90rem;
    height: 40%;
    display: flex;
    box-shadow: 5px 5px 1px rgba(0, 0, 0, .212);
}

.form-imagem{
    width: 50%;
    display: flex;
    background-color: white;
    padding: 1rem;
    justify-content: end;    
}

.form-imagem img{
    width: 31rem;
}

.form{
    width: 50%;
    font-size: 2.80rem;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-direction: column;
    background-color: #fff;
    padding: 3rem;

}

h1{
    color: #ECB323;
}

p{
    font-size: 1.25rem;
    color: darkgrey;
}


.form-header{

    font-size: 2.10rem;
    padding: 40px;
    

}

.title{

    padding: 15px 5px;

}

.form-header h1::after{
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
    /*color: #ECB323;*/
}


.input-group{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2.15rem 0;
    
}

.input-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.8rem;
    
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    /*box-sizing: 1px 1px 6px #0000001c;*/
    border-bottom: 3px solid #6d2e2e;
}

.input-box input:hover{
    background-color: #eeeeee75;
    border-radius: 15px;

}

.input-box input:focus-visible{
    outline: 3px solid #ECB323 ;
    
    
}

.input-box label,
.gender-title h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box input::placeholder{
    color: #000000be;
}

.continue-button {
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color: #ECB323;
    padding: 0.80rem;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #0b0b0b;
}

.continue-button:hover{

    background-color: #f1d99b;

}

.continue-button button a {
    text-align: center;
    text-decoration: none;
    margin-bottom: auto;
    font-size: 2.35rem;
    font-weight: 600;
    
}

button{

    font-size: 1.65rem;
    
}

.p-ultimo{
    margin-top: 15px;
}


.footer {
    background-color: #fff;
    color: #000;
    padding: 1.5rem 0;
    display: flex;
    box-shadow: 0 -2px 10px rgba(0,0,0,0.1);
    padding: 20px;
    
}


.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    flex-direction: inherit;
    
}
  
.footer-col {
    flex: 1 1 220px;
}
  
.footer-col h3,
.footer-col h4 {
    color: #000;
    margin-bottom: 15px;
}
  
.footer-col p {
    color: #f4b014;
    font-weight: bold; 
}
  
.footer-col ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.footer-col ul li {
    margin-bottom: 8px;
    font-size: 14px;
}
  
.footer-social a {
    display: inline-block;
    margin-right: 10px;
}
  
.footer-social img {
    width: 24px;
    height: 24px;
}


