*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    min-height: 100vh;
    width: 100%;
    background-color: #e1e3eb;
    display: flex;
    flex-direction: column;
}

.conteudo_pagina{
    flex: 1;
    margin-inline: 2%;
    margin-top: 1.4vw;
    margin-bottom: 2.5vw;
    width: auto;
}

#banner{
    background-color: white;
    width: 100%;
    height: 30vw;
    border-radius: 1vw;
    margin-bottom: 1.4vw;
    box-sizing: border-box;
}

#destcat_area{
    width: 100%;
    height: auto;
    display: flex;
    gap: 2%;
    margin-bottom: 1.4vw;
    box-sizing: border-box;
}

.destcat_element{
    width: 49%;
    height: auto;
    background-color: white;
    border-radius: 1vw;
    box-sizing: border-box;
    padding: 2%;
}

#dest_product_area{
    width: 100%;
    height: 11vw;
    box-sizing: border-box;
    margin-top: 2%;
    float: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 2%;
    padding-bottom: 0;
    margin-bottom: 0;
}

.dest_product{
    width: 17%;
    height: 40%;
    background-color: rgb(235, 235, 235);
}

#cat_product_area{
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    height: 11vw;
    box-sizing: border-box;
    margin-top: 2%;
    display: flex;
    padding-inline: 4%;
    padding-top: 2%;
    margin-bottom: 0;
    overflow-x: auto;
    flex-wrap: nowrap;
    gap: 4%;
}

.cat_product{
    min-width: 21.5%;
    height: 85%;
    background-color: rgb(235, 235, 235);
}

#ofertad_area{
    width: 100%;
    height: 45vw;
    display: flex;
    gap: 2%;
    margin-bottom: 1.4vw;
    box-sizing: border-box;
}

#oferta_area{
    width: 70%;
    border-radius: 1vw;
    box-sizing: border-box;
}

#ad_area{
    width: 28%;
    height: 100%;
    border-radius: 1vw;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    row-gap: 2%;
}

#ad_element_1{
    background-color: #5b5c60;
}

#ad_element_2{
    background-color: #252527;
}

#ad_element_3{
    background-color: #adb1bc;
}

.ad_element{
    width: 100%;
    height: 32%;
    background-color: white;
    border-radius: 1vw;
}

#titulo_oferta{
    width: 100%;
    height: 10%;
    background-color: #edb928;
    border-radius: 1vw;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-inline-start: 2%;

}

#conteudo_oferta{
    width: 100%;
    height: 90%;
    background-color: white;
    border-radius: 1vw;
    box-sizing: border-box;
}

#produto_linha{
    width: 100%;
    height: 6vw;
    background-color: #edb928;
    border-radius: 1vw;
    margin-bottom: 1.4vw;
    box-sizing: border-box;
    padding-inline-start: 4%;
    display: flex;
    align-items: center;
    color: white;
}

#bestseller_area{
    width: 100%;
    height: 40vw;
    border-radius: 1vw;
    background-color: white;
    margin-bottom: 1.4vw;
    box-sizing: border-box;
    overflow-y: auto;
}

#bestseller_product_area{
    width: 100%;
    height: auto;
    display: flex;
    float: left;
    flex-wrap: wrap;
    justify-content: space-evenly;
    box-sizing: border-box;
    padding: 2%;
}

.bestseller_product{
    background-color: rgb(238, 238, 238);
    width: 18%;
    height: 30vw;
    margin-bottom: 6vw;
}

#novos{
    width: 100%;
    height: auto;
    border-radius: 1vw;
    background-color: white;
    margin-bottom: 1.4vw;
    box-sizing: border-box;
    padding: 2%;
}

#novos_product_area{
    padding-top: 2%;
    padding-bottom: 2%;
    width: 100%;
    height: 25vw;
    display: flex;
    justify-content: space-evenly;
}

.novos_product{
    width: 23%;
    height: 100%;
    background-color: rgb(238, 238, 238);
}

#subcategorias_area{
    width: 100%;
    height: auto;
    display: flex;
    gap: 2%;
    margin-bottom: 1.4vw;
    box-sizing: border-box;
}

.subcategoria_element{
    width: 32%;
    height: auto;
    background-color: white;
    border-radius: 1vw;
    box-sizing: border-box;
    padding: 2%;
}

.banner_subcategorias{
    width: 100%;
    box-sizing: border-box;
    height: 15vw;
    background-color: rgb(238, 238, 238);
    margin-top: 2vw;
    border-radius: 1vw;
    margin-bottom: 2vw;
}

.subcategorias_product_area{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 2vw;
    padding-top: 2vw;
    border-top: 0.18vw solid rgb(202, 202, 202);
}

.subcategorias_product{
    width: 40%;
    height: 14vw;
    background-color: rgb(238, 238, 238);
    border-radius: 1vw;
}

#cartaoapp_area{
    width: 100%;
    height: 15vw;
    display: flex;
    gap: 2%;
    margin-bottom: 1.4vw;
    box-sizing: border-box;
}

.cartaoapp_element{
    width: 49%;
    height: 100%;
    border-radius: 1vw;
    box-sizing: border-box;
}

#acessorecente_area{
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 1vw;
    box-sizing: border-box;
    padding: 2%;
}

#acessorecente_product_area{
    width: 100%;
    height: 10vw;
    display: flex;
    box-sizing: border-box;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1vw;
}

.acessorecente_product{
    width: 20%;
    height: 100%;
    background-color: rgb(238, 238, 238);
}

h2 {
    font-size: 1.4vw;
    font-family: Arial;
}

h1 {
    font-size: 2vw;
    font-family: Arial;
}

#oferta_text{
    color: white;
}

#nav_produtos{
    width: 100%;
    display: flex;
    padding: 2%;
    box-sizing: border-box;
    gap: 2%;
}

.cartao_element{
    background-color: #eeb828;
}

.app_element{
    background-color: #27292b;
}