.cabecalho{
    display: flex;
    height: 6vw;
    width: 100%;
    background-color: #edb928;
    float: left;
    z-index: 9999;
    box-shadow: 0vw 0.15vw 0.8vw #6b6b6b;
}

.cabecalho_buscar{
    width: 50%;
}

.campo_buscar{
    background-clip: border-box;
    margin-top: 1.2vw;
    margin-bottom: 1.2vw;
    height: 3.6vw;
    width: auto;
    margin-inline: 8%;
}

.cabecalho_navicones{
    width: 29%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 4%;
    padding-right: 2%;
}

.cabecalho_menu{
    width: 10%;
}

.cabecalho_logo{
    height: auto;
    width: 11%;
    padding-top: 1vw;
    padding-bottom: 1vw;
    max-height: 6vw;
}

.menu_button{
    padding: 0;
    width: 3vw;
    height: 3vw;
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
    margin-inline: 35%;
    background-image: url('../IMG/icone_menu.png');
    background-size: cover;
    border: none;
    background-color: transparent;
}

.menu_button:hover{
    cursor: pointer;
}

.nav_busca{
    border: 2px solid transparent;
    border-radius: 2vw;
    box-sizing: border-box;
    width: 100%;
    background-color: white;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.input_busca{
    margin-left: 0;
    padding: 0;
    width: 50%;
    height: 100%;
    padding-inline: 1vw;
    border: none;
    font-size: 1.02vw;
}

.suporte_icon{
    width: 13%;
    height: auto;
}

.suporte_icon:hover{
    cursor: pointer;
}

.carrinho_icon{
    width: 13%;
    height: auto;
}

.carrinho_icon:hover{
    cursor: pointer;
}

.cadastro_button{
    width: 32%;
    height: 2.5vw;
    background-size: cover;
    border: none;
    background-color: #000;
    color: white;
    border-radius: 2.2vw;
    font-size: 1.02vw;
}

.cadastro_button:hover{
    background-color: rgb(104, 104, 104);
    font-weight: bold;
}

.login_button{
    width: 32%;
    height: 2.5vw;
    background-size: cover;
    border: none;
    background-color: white;
    color: #000;
    border-radius: 2.2vw;
    font-size: 1.02vw;
}

.login_button:hover{
    background-color: #e4e4e4;
    font-weight: bold;
}

.cadastro_button:hover{
    cursor: pointer;
}

.login_button:hover{
    cursor: pointer;
}

.lupa_icon{
    width: 1.8vw;
    height: 1.8vw;
}

.lupa_icon:hover{
    cursor: pointer;
}

.lista_categoria{
    border: none;
    height: 100%;
    font-size: 1.02vw;
}

.lista_categoria:hover{
    cursor: pointer;
}

.lista_menu{
    width: 25vw;
    height: auto;
    background-color: #edb928;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    visibility: hidden;
    border-left: 4vw solid black;
    box-sizing: border-box;
    border-bottom: 0.1vw solid black;
    border-right: 0.1vw solid black;
    border-bottom-right-radius: 2.2vw;
    position: relative;
    z-index: 999;
    box-shadow: 0vw 0.4vw 0.8vw #6b6b6b;
}

.lista_menu a{
    text-decoration: none;
    color: black;
    font-family: Arial;
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-inline: 2vw;
    border-top: 0.1vw solid black;
    box-sizing: border-box;
    width: 100%;
    font-size: 1.1vw;
}

.lista_menu a:last-child{
    border-bottom-right-radius: 2.2vw;
}

.lista_menu a:hover{
    background-color: #c49820;
    color: white;
}

.cabecalho_carrinho{
    position: relative;
}

.lista_carrinho_area{
    position: absolute;
    right: 0;
    display: flex;
    justify-content: right;
    z-index: 3;
    width: 25%;
    height: auto;
    background-color: transparent;
    z-index: 1;
    align-items: right;
}

.lista_carrinho{
    position: relative;
    padding: 8%;
    box-sizing: border-box;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: white;
    border-bottom-left-radius: 2.2vw;
    z-index: 1;
    box-shadow: 0vw 0.15vw 0.8vw #6b6b6b;
    visibility: hidden;
    display: flex;
    flex-direction: column;
}

.img_carrinhovazio{
    display: block;
    width: 30%;
    height: auto;
    margin: auto;
    background-color: #ebebeb;
    border-radius: 100%;
    box-sizing: border-box;
    padding: 2%;
}

.carrinhovazio_txt{
    width: 100%;
    text-align: center;
    font-family: Arial;
    color: #939598;
    padding-top: 4%;
    font-weight: 600;
}
